@import '../styles/main';

.drop_area {
  width: 100%;
  height: 20px;
  border: 2px dashed transparent;
  border-radius: 8px;
  margin: 5px 0;
  opacity: 0;
  transition: all 0.3s ease;

  &.active {
    height: 60px;
    opacity: 1;
    border-color: $drop-area-color;
    background-color: $drop-area-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $drop-area-color;
  }
}
